<html>
<body>
<h1>SOORIYA</h1>
<p>
<button>
  <a href="https://www.w3.org/">W3C</a></button></p>
<h1>JAYAKRISH</h1>
<p><button><a href="https://dotnet.microsoft.com/en-us/apps/aspnet">asp.net</a></button></p>
<h1>KRISHNAN</h1>
<p><button><a href="https://www.javatpoint.com/python-tutorial">python-tutorial</a></button></p>
<h1>GURUDEV</h1>
<p><button><a href="https://angular.io/guide/router">angular</a></button></p>
<h1>YASH</h1>
<p><button><a href="https://www.javatpoint.com/sql-tutorial">SQL</a></button></p>
</body>
</html>


  
 